.comment {
  min-height: 40px;
  margin: 20px 0 0;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gravatar {
  position: absolute;
  margin-left: -50px;
  height: 40px;
}
.email {
  margin-bottom: 5px;
  font-weight: 600;
}