.comment-wrapper {
  position: relative;
  padding-left: 64px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.comment {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.comment-header {
  padding-right: 15px;
  padding-left: 15px;
  color: #767676;
  background-color: #f7f7f7;
  border-bottom: 1px solid #eee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.comment-tag {
  float: right;
  padding: 2px 5px;
  margin: 8px 0 0 10px;
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  .comment-edit & {
    display: none;
  }
}

.comment-header-text {
  max-width: 78%;
  padding-top: 10px;
  padding-bottom: 10px;
  .comment-edit & {
    display: none;
  }
}

.comment-header-input {
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 16px;
  background-color: #fafafa;
  min-height: 34px;
  color: #333;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.comment-actions {
  float: right;
  margin-right: -5px;
  margin-left: 10px;
  .comment-edit & {
    display: none;
  }
}

.comment-edit-button {
  display: inline-block;
  padding: 10px 5px;
  color: inherit;
  opacity: 0.5;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 0;
}


.comment-edit-title {
  display: none;
  width: 100%;
  padding: 10px 0;
  .comment-edit & {
    display: block;
  }
}

.comment-body {
  width: 100%;
  padding: 15px;
  overflow: visible;
  font-size: 14px;
  line-height: 1.6;
  word-wrap: break-word;
  .comment-edit & {
    display: none;
  }
}

.write-content {
  padding: 0 0 10px;
  margin: 0 10px;
  display: none;
  .comment-edit & {
    display: block;
  }
}

.comment-textarea {
  height: 200px;
  min-height: 200px;
  display: block;
  width: 100%;
  max-height: 500px;
  padding: 10px;
  resize: none;
  max-width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  background-color: #fafafa;
  color: #333;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.comment-tabnav {
  background: #f7f7f7;
  padding: 6px 10px 0;
  border-radius: 3px 3px 0 0;
  margin: 0 0 10px;
  position: relative;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  display: none;
  .comment-edit & {
    display: block;
  }
}

.tabnav-tabs {
  margin-bottom: -1px;
}

.tabnav-tab {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 0;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
  &.selected {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 3px 3px 0 0;
  }
}


.form-actions {
  display: none;
  padding: 0 10px 10px;
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    clear: both;
    content: "";
  }
  .comment-edit & {
    display: block;
  }
  .btn {
    margin-left: 10px;
  }
}

.btn {
  float: right;
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-appearance: none;
  &.btn-primary {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
  }
}