.comment {
  min-height: 40px;
  margin: 20px 0 0;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment > img {
  position: absolute;
  margin-left: -50px;
  height: 40px;
}