* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.discussion-timeline {
  position: relative;
  margin: 0 auto;
  width: 760px;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    z-index: -1;
    display: block;
    width: 2px;
    content: "";
    background-color: #f3f3f3;
  }
}